<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="car-body text-center">
          <span class="titulo">CREAR PRODUCTO</span>
          <form mt-3>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="Producto">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="Categoria">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="Plataforma">
            </div>
            <div class="mb-3">
              <input type="number" class="form-control form-control-lg" placeholder="Precio">
            </div>
            <div class="mb-3">
              <button class="btn btn-success btn-lg float-start">ACEPTAR</button>
              <button routerLink="/" class="btn btn-secondary btn-lg float-end">VOVLER</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>